  body {
    box-sizing: border-box;
    text-align: center;
    color: rgb(7, 7, 7);
    font-size: .50cm;
  }

  header {
    margin-bottom: .80cm;
    background: rgb(96, 96, 107);
  }
  
  #left {
    float: left;
    width: 50%;
    background: rgb(9, 12, 223);
    padding-top: 6.5cm;
    padding-bottom: 6.5cm;
  }

  #right {
    float: right;
    width: 25.0%;
    background: rgb(240, 6, 18);
    padding-top: 6.5cm;
    padding-bottom: 6.5cm;
  }
footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(5, 128, 5);
}
  